@{
    ViewData["Title"] = "Material Type";
}

@model IEnumerable<MatTypeModel>;

<span id="GetMatTypeAll" data-request-url="@Url.Action("GetAll","Material")"></span>
<span id="GetMatTypeByCode" data-request-url="@Url.Action("GetByCode","Material")"></span>
<span id="AddMatType" data-request-url="@Url.Action("Add","Material")"></span>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">รายการประเภทของ Material</h3>
        @* <input type="button" value="Create new" class="btn btn-success float-right" data-toggle="modal" data-target="#createModal" data-whatever="AAAAAAAAA"> *@
        <a href="@Url.Action("Create","Material")" class="btn btn-success float-right">Create new</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @* <table id="dataTables" class="table table-hover" style="width:100%"></table> *@
        <table id="dataTables" class="table table-hover" style="width:100%">
          <thead>
              <tr>
                  <th>Type Id</th>
                  <th>Type Code</th>
                  <th>Type name</th>
                  <th>Remark</th>
                  <th>Create Date</th>
                  <th>Modify date</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            @foreach(var item in Model)
            {
              <tr>
                <td>@item.type_id</td>
                <td>@item.type_code</td>
                <td>@item.type_name</td>
                <td>@item.type_remark</td>
                <td>@item.create_date</td>
                <td>@item.modify_date</td>
                <td><a class="btn btn-primary">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
              </tr>
            }
          </tbody>
      </table>
    </div>
</div>

@section Scripts
{
    <script src='~/js/material/mattype-index.js' type="text/JavaScript"></script>
}